<div>
  <div id="signup">
    <form id="sign-form">
      <div>
        <label for="username-sign">Username</label>
        <input type="text" id="username-sign" />
      </div>
      <div>
        <label for="password-sign">Password</label>
        <input type="password" id="password-sign" />
      </div>
      <button type="submit" id="signup-button" class="btn" >Signup!</button>
      <a href="/login">You can Login here</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>